.recipe {
    border-radius: 10px;
    box-shadow: lightcyan;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 50%;
    padding-bottom: 2%;   
    padding-top: 1%;   
}
.image {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}